In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from pydataset import data
import split_functions as sf

from sklearn.linear_model import LinearRegression
from sklearn.feature_selection import RFE, SelectKBest, f_regression
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split

1) Load the tips dataset.

    a) Create a column named price_per_person. This should be the total bill divided by the party size.


    b) Before using any of the methods discussed in the lesson, which features do you think would be most important for predicting the tip amount?


    c) Use select k best to select the top 2 features for predicting tip amount. What are they?


    d) Use recursive feature elimination to select the top 2 features for tip amount. What are they?


    e) Why do you think select k best and recursive feature elimination might give different answers for the top features? Does this change as you change the number of features you are selecting?


2) Write a function named select_kbest that takes in the predictors (X), the target (y), and the number of features to select (k) and returns the names of the top k selected features based on the SelectKBest class. Test your function with the tips dataset. You should see the same results as when you did the process manually.

3) Write a function named rfe that takes in the predictors, the target, and the number of features to select. It should return the top k features based on the RFE class. Test your function with the tips dataset. You should see the same results as when you did the process manually.

4) Load the swiss dataset and use all the other features to predict Fertility. Find the top 3 features using both select k best and recursive feature elimination (use the functions you just built to help you out).

In [2]:
df = data('tips')

In [3]:
train, validate, test = sf.split_data(df)

In [4]:
train.shape, validate.shape, test.shape

((136, 7), (59, 7), (49, 7))

- - -
b) Before using any of the methods discussed in the lesson, which features do you think would be most important for predicting the tip amount?

In [5]:
train.head()
# total bill would probably have the largest effect on tip amount, also day and time.  
# I think dinner would have higher tips on average

     total_bill   tip   sex smoker   day    time  size
188       30.46  2.00  Male    Yes   Sun  Dinner     5
243       17.82  1.75  Male     No   Sat  Dinner     2
191       15.69  1.50  Male    Yes   Sun  Dinner     2
197       10.34  2.00  Male    Yes  Thur   Lunch     2
180       34.63  3.55  Male    Yes   Sun  Dinner     2

In [19]:
df.price_per_person = df.total_bill / df['size']

In [20]:
df.head()

   total_bill   tip     sex smoker  day    time  size  price_per_person
1       16.99  1.01  Female     No  Sun  Dinner     2          8.495000
2       10.34  1.66    Male     No  Sun  Dinner     3          3.446667
3       21.01  3.50    Male     No  Sun  Dinner     3          7.003333
4       23.68  3.31    Male     No  Sun  Dinner     2         11.840000
5       24.59  3.61  Female     No  Sun  Dinner     4          6.147500

1)

c) Use select k best to select the top 2 features for predicting tip amount. What are they?


d) Use recursive feature elimination to select the top 2 features for tip amount. What are they?


e) Why do you think select k best and recursive feature elimination might give different answers for the top features? Does this change as you change the number of features you are selecting?