In [1]:
import numpy as np
import pandas as pd
from scipy import stats
import sklearn.preprocessing as p
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
import wrangle as w
import seaborn as sns

import warnings
warnings.filterwarnings("ignore")

%matplotlib inline

In [2]:
train, validate, test = w.wrangle_zillow()

In [5]:
#minmaxscaler

def scale_zillow(train, validate, test):

    train_1 = train.copy()
    validate_1 = validate.copy()
    test_1 = validate.copy()

    scale_cols = ['bedrooms', 'bathrooms', 'area', 'year_built', 'taxamount']
    minmax_scaler = p.MinMaxScaler()
    minmax_scaler.fit(train_1[scale_cols])
    train_1[scale_cols] = minmax_scaler.transform(train[scale_cols])
    validate_1 = minmax_scaler.transform(validate[scale_cols])
    test_1 = minmax_scaler.transform(test[scale_cols])

    df_train_1 = pd.DataFrame(train_1).set_index([train.index.values])
    df_validate_1 = pd.DataFrame(validate_1).set_index([validate.index.values])
    df_test_1 = pd.DataFrame(test_1).set_index([test.index.values])

    return df_train_1, df_validate_1, df_test_1

In [6]:
train, validate, test  = scale_zillow(train, validate, test)

In [10]:
train.head()

,bedrooms,bathrooms,area,tax_value,year_built,taxamount,fips,propertylandusetypeid
1300070,0.500,0.2500,0.129698,356809.0,0.711628,0.046866,6059.0,261.0
1452400,0.375,0.2500,0.156259,388535.0,0.776744,0.043288,6059.0,261.0
1765137,0.625,0.3125,0.249273,370328.0,0.925581,0.047808,6111.0,261.0
1668212,0.500,0.3125,0.239451,473000.0,0.939535,0.062898,6111.0,261.0
1670142,0.250,0.1250,0.106345,447299.0,0.637209,0.053982,6037.0,261.0

In [12]:
train.info(), validate.info(), test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1170752 entries, 1300070 to 1635134
Data columns (total 8 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   bedrooms               1170752 non-null  float64
 1   bathrooms              1170752 non-null  float64
 2   area                   1170752 non-null  float64
 3   tax_value              1170752 non-null  float64
 4   year_built             1170752 non-null  float64
 5   taxamount              1170752 non-null  float64
 6   fips                   1170752 non-null  float64
 7   propertylandusetypeid  1170752 non-null  float64
dtypes: float64(8)
memory usage: 80.4 MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 501752 entries, 1791424 to 544771
Data columns (total 5 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   0       501752 non-null  float64
 1   1       501752 non-null  float64
 2   2       501752 non-null  float64
 3   3       501752 non-null  float64
 4   4       501752 non-null  float64
dtypes: float64(5)
memory usage: 23.0 MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 418126 entries, 1082741 to 392722
Data columns (total 5 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   0       418126 non-null  float64
 1   1       418126 non-null  float64
 2   2       418126 non-null  float64
 3   3       418126 non-null  float64
 4   4       418126 non-null  float64
dtypes: float64(5)
memory usage: 19.1 MB

(None, None, None)